body {
    background-color: #E4E9E3;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
    padding: 25px;
}

#general-section {
    width: 100%;
}

.content-section {
    float: left;
    width: 33%;
}

.title-section {
    width: 33%;
    text-align: center;
    margin: 0 auto;
}

.insert-section {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.insert-section input {
    display: block;
    margin: 0 auto;
}

.insert-section button[type='submit'] {
    margin-top: 10px;
}
  
#data-section {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#data-section td, #data-section th {
    border: 1px solid #ddd;
    padding: 8px;
}

#data-section tr:nth-child(even){
    background-color: #f2f2f2;
}

#data-section tr:hover {
    background-color: #ddd;
}

#data-section th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#item #data-section th {
    width: 33%;
}